<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./styles/style.css">
    <title>Awesome Developers</title>
  </head>
  <body>
    <header>
      <div class="header">
        <div class="left-buttons"></div>
        <div class="header-title"> Awesome Developers </div>
        <div class="right-buttons">
          <a class="fa fa-github" href="https://github.com/gnijuohz/awesome-developers"></a>
        </div>
      </div>
    </header>
    <div class="container">
      <div id="app">
          <div class="search">
            <input id="searchInput" v-model="searchText" placeholder="search">
            <span class="fa fa-search search-icon"></span>
          </div>
          <i  v-show="loading" class="fa fa-spinner fa-spin"></i>
          <div class="people">
            <awesome-person v-for="person in filteredPeople" v-bind:person="person"></awesome-person>
          </div>
        </div>
    </div>
    <script type="x-template" id="person">
      <div class="person">
        <div class="name"> <a :href="githubUrl" target="_blank"> {{person.name||person.github}} </a>  </div>
        <div class="info">
          <a :href="githubUrl" target="_blank"><span class="fa fa-github" aria-hidden="true"></span></a>
          <a v-if="hasTwitter" :href="twitterUrl" target="_blank"><span class="fa fa-twitter" aria-hidden="true"></span></a>
          <a v-if="hasMedium" :href="mediumUrl" target="_blank"><span class="fa fa-medium"></span></a>
          <a v-if="hasBlog" :href="person.blog" target="_blank"><span class="fa fa-rss" aria-hidden="true"></span></a>
        </div>
        <div class="keywords">
          <span class="keyword" v-for="keyword in tech"> {{keyword}} </span>
        </div>
      </div>
    </script>
    <script src="./scripts/vue.min.js"></script>
    <script src="./scripts/script.js"></script>
  </body>
</html>
